.react-chatbot-kit-chat-input {
    /* display: none; */
}

.react-chatbot-kit-chat-btn-send {
    display: none;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
    width: 0.1em;
}

.react-chatbot-kit-chat-message-container {
    padding: 0 1rem;
}

.react-chatbot-kit-chat-bot-message-container {
    margin: 0;
    margin-bottom: 8px;
    justify-content: flex-start;
    align-items: center;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 3px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    border-radius: 15px;
    border-top-left-radius: 0;
    height: 35px;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.react-chatbot-kit-user-chat-message {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    height: 35px;
    color: black;
    font-weight: 600;
    font-size: 13px;
    background-color: #69F0AE;

}

.react-chatbot-kit-user-chat-message-container {
    margin: 0
}

.react-chatbot-kit-user-avatar-container {
    display: none;
}

.react-chatbot-kit-user-chat-message-arrow {
    display: none;
}

.react-chatbot-kit-chat-bot-message-arrow {
    display: none;
}

@keyframes moveUpAndDown {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end position, no vertical movement */
    }

    50% {
        transform: translateY(-20px);
        /* Middle position, move up */
    }
}

@keyframes moveUpAndDown {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end position, no vertical movement */
    }

    50% {
        transform: translateY(-20px);
        /* Middle position, move up */
    }
}

.bot-icon {
    animation: moveUpAndDown 2s ease infinite;
}

.date-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.arrow {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin: 5px;
}

.date-slots {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px
}

.date-slot {
    border: 2px solid #00BCD4;
    width: 80px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #757575;
    /* gap: 1px; */
}