.app {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  border: 1px solid black;
  width: 360px;
  height: 600px;
}

.react-chatbot-kit-chat-container {
  position: relative;
  border-radius: 8px;
}