@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

.app {
  border: 1px solid lightgray;
  width: 360px;
  height: 625px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 100%;
  margin: 0;
}